<section class="unitList">
    Terran Roster, for "Legacy of the V<br><br>
    <div class="divTable">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell">AutoId</div>
                <div class="divTableCell">Name</div>
                <div class="divTableCell">Lat</div>
                <div class="divTableCell">Long</div>
                <div class="divTableCell">Tags</div>
                <div class="divTableCell">Image URL</div>
            </div>
            <app-poi-list-item [poi]="poi" class="unitRow divTableRow" *ngFor="let poi of pois | async"></app-poi-list-item>
        </div>
    </div>
</section>