<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="poiService">

        <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>



<section class="unitList">
    Seattle Passport Admin<br><br>
    <div class="divTable">
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell">AutoId</div>
                <div class="divTableCell">Name</div>
                <div class="divTableCell">Lat</div>
                <div class="divTableCell">Long</div>
                <div class="divTableCell">Tags</div>
                <div class="divTableCell">Image URL</div>
            </div>
            <app-poi-list-item [poi]="poi" class="unitRow divTableRow" *ngFor="let poi of pois | async"></app-poi-list-item>
        </div>
    </div>
</section>