<div>
    <h1>{{poi.name}}</h1>
</div>

<div class="editForm panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Edit unit Details</h3>
    </div>
    <div class="panel-body">
        <div>
            <div>
                <label>AutoId:</label>
                <br>
                <input value={{poi.autoId}} #editAutoId>
            </div>
            <div>
                <label>Name:</label>
                <br>
                <input value={{poi.name}} #editName>
            </div>

            <div>
                <label>Latitude:</label>
                <br>
                <input value={{poi.latitude}} #editLatitude>
            </div>
            <div>
                <label>longitude:</label>
                <br>
                <input value={{poi.longitude}} #editLongitude>
            </div>
            <div>
                <label>Img_Url:</label>
                <br>
                <input value={{poi.img_url}} #editImgUrl>
            </div>
            <div>
                <label>Tags:</label>
                <br>
                <input value={{poi.tags}} #editTags>
            </div>
            <div>
                <label>Description:</label>
                <br>
                <textarea value={{poi.description}} cols="120" rows="5" #editDesc></textarea>
            </div>
            <button (click)="UpdatePOI(editName.value, editDesc.value, editLatitude.value, editLongitude.value, editImgUrl.value, editTags.value, editAutoId.value)">Update POI</button>
            <button class="btn-danger" (click)="onDeleteUnit()">Delete</button>
        </div>
    </div>
</div>